node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
outline/
runCode.js
yarn-error.log

# macOS
.DS_Store

# confidential
keystore.txt
markdown/
images/